@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: #444444;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
  text-align: center;

  &.lg-heading {
    font-size: 6rem;
  }

  &.md-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    margin-bottom: 0rem;
    padding: 0.2rem 1rem;
    padding-top: 2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 1.4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }

  // Info boxes styling for index.html
  .info-box {
    background: darken($primary-color, 20%);
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: set-text-color($primary-color);
    border-bottom: 5px solid $secondary-color;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
      margin-top: 0;
      font-size: 1.5rem;
      color: $secondary-color;
    }

    h6 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      font-weight: bold;
      color: set-text-color($primary-color);
    }

    // Text object for paragraph
    p {
      margin: 1rem 0 0;
      font-size: 1.2rem;
      line-height: 1.4;
      color: set-text-color($primary-color);
    }
  }

  // Extras and staff photos formatting
  .photo-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-items: center;

    .photo-box {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
      width: 100%;
      height: 100%;
      max-width: 1000px;
      max-height: 700px;
      text-align: center;

      img {
        width: 95%;
        height: 75%;
        object-fit: cover;
      }

      p {
        text-align: center;
        font-size: 2rem;
        color: $primary-color;
        padding: 0.5rem;
        margin: 0;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    .photo-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  // Staff intros formatting
  .staff-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-items: center;

    .staff-box {
      cursor: not-allowed;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
      width: 100%;
      max-width: 700px;
      min-width: 300px;
      text-align: center;
      padding: 1rem;

      .staff-photo {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
      }

      .staff-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0.5rem 0;
        color: $primary-color;
      }

      .staff-description {
        font-size: 2rem;
        color: #444;
        margin: 0.5rem 0;
      }
    }
  }

  // Home page picture and text styling
  .photo-index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 2rem;
    justify-items: center;

    .photo-index-box {
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      display: flex;
      flex-direction: column;

      &:hover {
        transform: scale(1.05);
      }

      .photo-index-images {
        width: 100%;
        height: auto;

        .photo-index-image {
          width: 100%;
          height: auto;
          border: 2px solid #fff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }

      .info-box {
        flex: 1;
      }
    }
  }

  // Flexboxes on the extras and staff page
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}

// Flexboxes on the extras and staff page
.infobox-kollola {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 1.5rem;
    @include easeOut;
  }
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-up-content {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.pop-up-content img {
  width: 300px; // Increased image size
  height: 300px; // Increased image size
  object-fit: cover;
  margin-bottom: 1rem;
}

.pop-up-content .info-text {
  font-size: 1.5rem; // Increased text size
  color: #333;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

// Container for Kollola 1-3 contact input and map
.contact-map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  div {
    font-size: 2.6rem;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
  }
}

// contact form on kollola 1-3 pages
form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
  width: 100%;

  label {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    max-width: 500px;
    text-align: left;
  }

  input,
  textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    max-width: 800px;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    color: #000;
    background-color: #babdba;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}

// Kollola 1-3 page picture displays
.image-display {
  padding-top: 3rem;
  width: 100%;
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;

  img {
    width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

// Kollola 1-3 page picture displays
.image-reel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;

  .thumbnail {
    width: 200px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      border-color: $secondary-color;
    }
  }
}

@media screen and (max-width: 600px) {
  .image-reel {
    flex-direction: column;
    align-items: center;

    .thumbnail {
      width: 80px;
    }
  }

  .photo-boxes,
  .staff-container {
    grid-template-columns: 1fr;

    .photo-box,
    .staff-box {
      max-width: 100%;
    }
  }
}

// widescreens
@include mediaXl {
  .index-photo-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-display {
    max-width: 900px;
  }
}

// desktops & laptops
@include mediaLg {
  .index-photo-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-display {
    max-width: 700px;
  }
}

// tablets & small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  .index-photo-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-display {
    max-width: 600px;
  }
}

// smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      margin-top: 1rem;
      font-size: 5rem;
    }
  }

  .index-photo-container {
    grid-template-columns: 1fr;
  }

  .photo-boxes {
    grid-template-columns: 1fr;

    .photo-box {
      max-width: 100%;
    }
  }

  .image-display {
    max-width: 100%;
    padding: 2rem 1rem;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10%);
  color: set-text-color($primary-color);
  height: 70px;
}
